* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    font-family: 'Arial';
    font-weight: bold;
}

#wrapper {
    color: white;
    background-color: __colorBack__;
    width: 100%;
}

div.header {
    color: __colorLight__;
    background-color: __colorDark__;
    border-bottom: 2px solid yellow;
    padding: 5px 0px 5px 0px;
    text-align: center;
}

div.content {
    border-bottom: 1px solid yellow;
    padding: 5px 0px 5px 0px;
}

h1 {
    margin: 0;
    font-size: 120%;
}

h2 {
    margin: 0;
    font-size: 110%;
    font-style: italic;
}

p {
    margin: 0;
    padding-left: 5px;
    text-align: justify;
}

table {
    border-collapse: collapse;
    border: 2px solid yellow;
}

td.header,
th {
    color: cyan;
    background-color: black;
    font-weight: bold;
}
th,
td {
    padding: 8px;
    border:1px solid yellow
}