* {
    margin: 0;
    padding: 0;
    border: 0;
    /*::font-size*/
    font-family: 'Arial';
    font-weight: normal;
    color: darkblue;
    border-color: darkblue;
    background-color: lightgrey;
}

#wrapper {
    width: 100%;
}

div.header {
    border-bottom: 2px solid;
    padding: 5px 0px 5px 0px;
    text-align: center;
}

div.content {
    border-bottom: 1px solid;
    padding: 5px 1px 5px 1px;
}

div.table {
    border-bottom: 1px solid;
    padding: 3px 1px 3px 1px;
}

h1 {
    margin: 0;
    font-size: 160%;
}

h2 {
    margin: 0;
    font-size: 130%;
    font-style: italic;
}

p {
    margin: 0;
    padding-left: 5px;
    text-align: justify;
}

table {
    border-collapse: collapse;
    border: 2px solid maroon;
}

td.header,
th {
    color: maroon;
    font-weight: bold;
}
th,
td {
    padding: 8px;
    border:1px solid maroon;
}

td.fixed-height > div {
    width: 100%;
    height: 100%;
    overflow:hidden;
}
td.fixed-height {
    height: 70px;
}